<div class="contents">  
 <div class="first view">
<%= image_tag("home.png", class: :top_image) %> </div>
 <div classs="upper-content">
  
  </div>
 <div class="middle-content">
 </div>
 <div class="bottom-content">

 </div>
</div>